.bg-illustration {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

html.dark .bg-illustration {
  background-image: url(/assets/images/pattern-background-desktop-dark.svg);
}

html:not(.dark) .bg-illustration {
  background-image: url(/assets/images/pattern-background-desktop-light.svg);
}

@media (width <= 930px) {
  html.dark .bg-illustration {
    background-image: url(/assets/images/pattern-background-tablet-dark.svg);
  }

  html:not(.dark) .bg-illustration {
    background-image: url(/assets/images/pattern-background-tablet-light.svg);
  }
}

@media (width <= 600px) {
  html.dark .bg-illustration {
    background-image: url(/assets/images/pattern-background-mobile-dark.svg);
  }

  html:not(.dark) .bg-illustration {
    background-image: url(/assets/images/pattern-background-mobile-light.svg);
  }
}
