.quiz-question {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  height: 100%;
}

.quiz-question__label {
  color: var(--color-muted);
  font-style: italic;
  line-height: 1.5;
  font-size: 1.25rem;
}

.quiz-question h2 {
  font-size: 2.25rem;
  line-height: 1.2;
  color: var(--color-foreground);
  font-weight: 500;
}

.quiz-question progress {
  accent-color: var(--color-purple-600);
  margin-top: var(--space-2300);
  width: 100%;
}

.quiz-answers-form {
  display: flex;
  flex-direction: column;
}

.quiz-answers-form fieldset {
  border: 0;
  display: grid;
  gap: var(--space-200);
}

.option-card {
  width: 100%;
  display: flex;
  padding: 1.25rem;
  border-radius: 1.75rem;
  gap: var(--space-400);
  align-items: center;
  font-size: 1.75rem;
  font-weight: 500;
  background-color: var(--color-card);
  color: var(--color-card-foreground);
  position: relative;
  --outline-color: var(--color-purple-600);
}

.option-card[data-status="correct"] {
  --outline-color: var(--color-green-500);
}

.option-card[data-status="incorrect"] {
  --outline-color: var(--color-red-500);
}

.option-card input {
  position: absolute;
  width: 0;
  height: 0;
}

.option-card:has(input:disabled) {
  opacity: 0.8;
  cursor: not-allowed;
  pointer-events: none;
}

.option-card__badge {
  background-color: var(--color-grey-50);
  border-radius: 0.5rem;
  min-width: 56px;
  min-height: 56px;
  display: grid;
  place-content: center;
  color: var(--color-grey-500);
}

.option-card:focus-within {
  outline: 2px solid var(--outline-color);
}

.option-card:has(input:checked) {
  outline: 2px solid var(--outline-color);
}

.option-card:hover {
  outline: 2px solid var(--outline-color);
  cursor: pointer;
}

.option-card:has(input:checked) .option-card__badge {
  background-color: var(--color-purple-600);
  color: var(--color-white);
}

.option-card[data-status="correct"] .option-card__badge {
  background-color: var(--color-green-500) !important;
  color: var(--color-white);
}

.option-card[data-status="incorrect"] .option-card__badge {
  background-color: var(--color-red-500) !important;
  color: var(--color-white);
}

.option-card__result img {
  display: none;
}

.option-card[data-status="correct"]
  .option-card__result
  img[data-role="correct"] {
  display: inline;
}

.option-card[data-status="incorrect"]
  .option-card__result
  img[data-role="incorrect"] {
  display: inline;
}

.primary-btn {
  background-color: var(--color-purple-600);
  color: var(--color-white);
  padding: 1.25rem 2rem;
  border: none;
  border-radius: 1.75rem;
  height: 92px;
  font-size: 1.75rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: var(--space-200);
  width: 100%;
}

.primary-btn:disabled {
  opacity: 0.5;
}
